{% extends "layout.html" %}

{% block heading %}
    Dashboard
{% endblock %}

{% block body %}
    <h1>Dashboard</h1>
    <h2 class="title">AAPL</h2>

    <div class="box">
        <div class="container">
            <div class="wide item">
                <canvas id="aapl"></canvas>
            </div>

            <div class="small item right">
                <h3>Shares: 10.0</h3>
                <h3>Value: $454.22</h3>
                <h3>Cash: $85.34</h3>
            </div>
        </div>
    </div>

    <h2 class="title">AMZN</h2>
    <div class="box">
        <div class="container">
            <div class="small item">
                <h3>Shares: 10.0</h3>
                <h3>Value: $454.22</h3>
                <h3>Cash: $85.34</h3>
            </div>

            <div class="wide item right">
                <canvas id="amzn"></canvas>
            </div>
        </div>
    </div>

    <h2 class="title">GOOG</h2>
    <div class="box">
        <div class="container">
            <div class="wide item">
                <canvas id="goog"></canvas>
            </div>

            <div class="small item right">
                <h3>Shares: 10.0</h3>
                <h3>Value: $454.22</h3>
                <h3>Cash: $85.34</h3>
            </div>
        </div>
    </div>

    <h2 class="title">VOO</h2>
    <div class="box">
        <div class="container">
            <div class="small item">
                <h3>Shares: 10.0</h3>
                <h3>Value: $454.22</h3>
                <h3>Cash: $85.34</h3>
            </div>

            <div class="wide item right">
                <canvas id="voo"></canvas>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
{% endblock %}